.board-of-director-container {
     display: flex;
     flex-direction: column;
     min-height: 100%;
     width: 100vw;
     background-color: #fbf9f9;
     .system-container {
          // height: 1000px;
     }
}
