@import '../../styles/common.scss';

.header-container {
     z-index: 100;
     display: flex;
     justify-content: space-between;
     background-color: white;
     color: #333;
     height: 60px;
     position: sticky;
     top: 0;
     // line-height: 55px;
     border-bottom: 1px solid #ddd;
     width: 100vw;

     .header-logo {
          background: url('../../assets/images/logo2.jpg');
          height: 60px;
          width: 100px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-left: 25px;
     }
     .languages {
          .btn-logout {
               cursor: pointer;

               .btn-lg {
                    background-color: #0062a1;
                    .button {
                         @media (min-width: 1490px) {
                              font-size: 17px;
                         }
                         @media (max-width: 1489px) {
                              font-size: 10px;
                         }
                    }
               }
          }
     }
}
